{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Todo List</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
        <script type="text/javascript" src="{% static "js/todoCtrl.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/crowdcomms.css" %}">
        <link rel="stylesheet" href="{% static "css/table.css" %}">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    </head>
    {% verbatim %}
    <body ng-app="todoApp" ng-controller="todoCtrl" ng-init="loadList()">
        <div  class="ccHeader">
            <div class="ccTitle">Login</div>
        </div>
        <div style="height: 15px; width: 100%"></div>
        <div style="position: absolute;left: 10px;">
            <div>
                <div>User:</div>
                <div><input type="text" class=""/></div>
            </div>
            <div>
                <div>Password</div>
                <div><input type="password" class=""/></div>
            </div>
            <div>
                <div>
                    <input type="button" value="Login" ng-click="login()" class="large blue button"/>
                </div>
            </div>
        </div>
    </body>
    {% endverbatim %}
</html>