{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Todo List</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
        <script type="text/javascript" src="{% static "js/todoCtrl.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/crowdcomms.css" %}">
        <link rel="stylesheet" href="{% static "css/table.css" %}">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    </head>
    {% verbatim %}
    <body ng-app="todoApp" ng-controller="todoCtrl" ng-init="loadList()">
        <div  class="ccHeader">
            <div class="ccTitle">CrowdComms Todo List Gilson Dias</div>
        </div>
        <div class="addNewTodo">
            <div style="position: absolute;left: 10px;">
                <table>
                    <tr>
                        <td>
                            Status:
                            <select id="statusFilter" name="statusFilter" ng-model="statusFilter">
                                <option value="" selected>--Please Select--</option>
                                <option ng-repeat="status in listStatus.availableStatus" value="{{status.id}}">{{status.name}}</option>
                            </select>
                        </td>
                        <td>
                            Priority:
                            <select id="priorityFilter" name="priorityFilter" ng-model="priorityFilter">
                                <option value="" selected>--Please Select--</option>
                                <option ng-repeat="priority in listPriority.availablePriority" value="{{priority.id}}">{{priority.name}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <input type="button" value="Add New Task" ng-click="showAddModal()" class="large blue button"/>
            </div>
        </div>
        <div style="height: 15px; width: 100%"></div>
        <!--listing todo tasks-->
         <div  class="divTable">
            <div class="table">
                <div class="row header">
                    <div class="cell" ng-repeat="header in listTableheader.tableHeader">
                        {{ header.name }}
                    </div>
                </div>
                <div class="row tableRow{{ to.priority }}" ng-repeat="to in todo | filter:filterTableStatus | filter:filterTablePriority">
                    <div class="cell" data-title="Priority" style="width: 10%">
                        <li class="priority{{ to.priority }}"></li>
                    </div>
                     <div class="cell" data-title="Status" style="width: 10%">
                        <li class="status{{ to.status }}"></li>
                    </div>
                    <div class="cell" data-title="Title" style="width: 15%">
                        {{ to.title }}
                    </div>
                    <div class="cell" data-title="Description" style="width: 40%">
                        {{ to.text }}
                    </div>
                    <div class="cell" data-title="Deadline" style="width: 15%">
                        {{ to.deadline }}
                    </div>
                    <div class="cell" style="width: 10%">
                         <input type="button" class="large grey button" value="Edit" ng-click="showEditModal(to.id)"/>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </body>
    {% endverbatim %}
</html>