<style>
.modal-dialog {
    width: 180px;
    margin: 120px auto;
}
</style>
<div class="clearfix" >
    <div class="modal-header model-grey-color">
        <h4 class="modal-title">Confirm Delete</h4>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" role="form">
        <button class="btn btn-success" ng-click="delete()">Yes</button>
        <button class="btn btn-danger" ng-click="cancelModal()"><i class="glyphicon glyphicon-remove"></i>No</button>
      </form>
  </div>
  <div class="modal-footer model-grey-color">

  </div>
</div>
